{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col card border-primary mr-2" style="max-width: 20rem;">
  <div class="card-header text-center">Nombre de Poubelles</div>
  <div class="card-body text-center">
    <h4 class="card-title">123</h4>
  </div>
</div>
<div class="col card border-primary mr-2" style="max-width: 20rem;">
  <div class="card-header text-center">Nombre de signalements</div>
  <div class="card-body text-center">
    <h4 class="card-title">1</h4>
  </div>
</div>
<div class="col card border-primary mr-2" style="max-width: 20rem;">
  <div class="card-header text-center">Nombre de souhaits</div>
  <div class="card-body text-center">
    <h4 class="card-title">15</h4>
  </div>
</div>
</div>
<div class="text-center"><img class="w-25 mt-5git " src="https://comin.madmagz.com/wp-content/uploads/2016/04/pie-chart.png" >
</div>

{% endblock %}